<div class="container">
  <h2>Form</h2>

  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="form-group">
      <label for="">Age</label>
      <input
        type="number"
        class="form-control"
        [ngModel]="formModel.age"
        name="age"
        required
        #age="ngModel"
      />
      <span
        *ngIf="age.invalid && (age.dirty || age.touched)"
        class="help-block text-danger"
      >
        <div *ngIf="age.errors?.['required']">Age is required.</div>
      </span>
    </div>

    <div class="form-group">
      <label for="">Gender</label>
      <div>
        <label>
          <input
            type="radio"
            name="gender_encoded"
            [(ngModel)]="formModel.gender_encoded"
            value="true"
            required
          />
          Male
        </label>
        <label>
          <input
            type="radio"
            name="gender"
            [(ngModel)]="formModel.gender_encoded"
            value="false"
            required
          />
          Female
        </label>
      </div>
      <span *ngIf="!formModel.gender_encoded" class="help-block text-danger">
        Gender is required.
      </span>
    </div>

    <div class="form-group">
      <label for="">Hypertension</label>
      <div>
        <label>
          <input
            type="radio"
            name="hypertension"
            [(ngModel)]="formModel.hypertension"
            value="true"
            required
          />
          Yes
        </label>
        <label>
          <input
            type="radio"
            name="hypertension"
            [(ngModel)]="formModel.hypertension"
            value="false"
            required
          />
          No
        </label>
      </div>
      <span *ngIf="!formModel.hypertension" class="help-block text-danger">
        Hypertension is required.
      </span>
    </div>

    <div class="form-group">
      <label for="">Heart disease</label>
      <div>
        <label>
          <input
            type="radio"
            name="heart_disease"
            [(ngModel)]="formModel.heart_disease"
            value="true"
            required
          />
          Yes
        </label>
        <label>
          <input
            type="radio"
            name="heart_disease"
            [(ngModel)]="formModel.heart_disease"
            value="false"
            required
          />
          No
        </label>
      </div>
      <span *ngIf="!formModel.heart_disease" class="help-block text-danger">
        Heart disease is required.
      </span>
    </div>

    <div class="form-group">
      <label for="">Smoking history</label>
      <div>
        <label>
          <input
            type="radio"
            name="smoking_history_encoded"
            [(ngModel)]="formModel.smoking_history_encoded"
            value="true"
            required
          />
          Yes
        </label>
        <label>
          <input
            type="radio"
            name="smoking_history_encoded"
            [(ngModel)]="formModel.smoking_history_encoded"
            value="false"
            required
          />
          No
        </label>
      </div>
      <span
        *ngIf="!formModel.smoking_history_encoded"
        class="help-block text-danger"
      >
        Smoking history is required.
      </span>
    </div>

    <div class="form-group">
      <label for="">BMI</label>
      <input
        type="number"
        class="form-control"
        [ngModel]="formModel.bmi"
        name="bmi"
        required
        #bmi="ngModel"
      />
      <span
        *ngIf="bmi.invalid && (bmi.dirty || bmi.touched)"
        class="help-block text-danger"
      >
        <div *ngIf="bmi.errors?.['required']">BMI is required.</div>
      </span>
    </div>

    <div class="form-group">
      <label for="">HbA1c level</label>
      <input
        type="number"
        class="form-control"
        [ngModel]="formModel.HbA1c_level"
        name="HbA1c_level"
        required
        #HbA1c_level="ngModel"
      />
      <span
        *ngIf="
          HbA1c_level.invalid && (HbA1c_level.dirty || HbA1c_level.touched)
        "
        class="help-block text-danger"
      >
        <div *ngIf="HbA1c_level.errors?.['required']">
          HbA1c level is required.
        </div>
      </span>
    </div>

    <div class="form-group">
      <label for="">Blood glucose level</label>
      <input
        type="number"
        class="form-control"
        [ngModel]="formModel.HbA1c_level"
        name="blood_glucose_level"
        required
        #blood_glucose_level="ngModel"
      />
      <span
        *ngIf="
          blood_glucose_level.invalid &&
          (blood_glucose_level.dirty || blood_glucose_level.touched)
        "
        class="help-block text-danger"
      >
        <div *ngIf="blood_glucose_level.errors?.['required']">
          Blood glucose level is required.
        </div>
      </span>
    </div>

    <div class="row justify-content-end">
      <div class="col">
        <button
          class="btn btn-primary btn-sm float-left"
          type="submit"
          [disabled]="!f.valid"
        >
          Save
        </button>
      </div>
    </div>
  </form>
</div>
