<div class="nav-main">
  <div class="container">
    <nav
      class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3"
    >
      <div class="col align-self-start">
        <ul class="navbar-nav flex-grow-1">
          <li class="nav-item">
            <img src="../assets/images/logo.png" width="40px" />
          </li>
          <li class="nav-item">
            <a class="nav-link text-info" routerLink="home">DiabetesDetect</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>

<div class="container">&copy; 2021 - DiabetesDetect</div>
